@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer {
}

@layer components {
  .activeLink {
    @apply underline decoration-red-700 decoration-2 underline-offset-4;
  }

  a.socialLink {
    @apply h-fit cursor-pointer;
    &::after {
      content: " |";
    }

    &:last-child::after {
      content: "";
    }
    &:hover {
      @apply font-medium underline;
    }
  }

  .starAfter {
    @apply relative w-fit;

    &::after {
      content: "";
      mask-image: url("../assets//svg/star.svg");
      mask-size: contain;
      @apply absolute block h-5 w-5 bg-yellow-500 top-[-2px] right-[-25px];
    }
  }
}
