@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --themeGreen: #3b8c6e;
  --themeGreenDark: #27592f;
  --themeBrownLight: #f2a25c;
  --themeBrown: #a6653f;
  --themeRed: #a63232;
  --bannerDominantColor: #401700;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer {
}

@layer components {
  .activeLink {
    @apply underline decoration-2 underline-offset-4;
  }

  a.socialLink {
    @apply h-fit cursor-pointer;

    &::after {
      content: " |";
    }

    &:last-child::after {
      content: "";
    }
    &:hover {
      @apply underline;
    }
  }

  .starAfter {
    @apply flex w-fit flex-col items-center;

    &::after {
      content: "";
      display: block;
      mask-image: url("../assets/svg/star.svg");
      mask-repeat: repeat;
      @apply block h-[20px] w-[150px] translate-y-[-5px] bg-yellow-500 sm:translate-y-[-15px];
    }
  }

  .themeGradientText {
    @apply bg-clip-text text-transparent;
    background-image: linear-gradient(
      to right,
      var(--themeGreenDark),
      var(--themeGreenDark),
      var(--themeRed),
      var(--themeRed)
    );
  }

  .wantedContainer {
    @apply p-1 outline;
    background-image: url("../assets/paper.avif");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: fit-content;
    color: var(--bannerDominantColor);
    outline-color: var(--bannerDominantColor);
    outline-offset: 4px;
    img {
      @apply border-4 p-1;
      border-color: var(--bannerDominantColor);
      filter: grayscale(10%) sepia(50%);
    }
  }

  .loggin {
    @apply px-1;
    color: #fff;
    background-color: var(--themeGreenDark);

    &:hover {
      background-color: var(--themeGreen);
    }
  }

  .logout {
    @apply px-1;
    color: #fff;
    background-color: var(--bannerDominantColor);

    &:hover {
      background-color: var(--themeRed);
    }
  }

  .customScrollBar {
    &::-webkit-scrollbar {
      width: 3px;
      /* height: 4px; */
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-red-900;
    }

    &.blue {
      &::-webkit-scrollbar-thumb {
        @apply bg-blue-900;
      }
    }
  }

  .addUtubeForm {
    @apply flex flex-shrink-0 flex-grow-0 flex-col items-center justify-center gap-1 self-stretch border-2 border-green-900 bg-green-50 px-1 pt-3 text-xs sm:basis-[200px] sm:text-sm;

    label {
      @apply font-bold uppercase text-green-900;
    }

    input {
      @apply border border-green-900 bg-transparent px-1 text-slate-700 shadow-sm placeholder:text-slate-400 hover:border-green-700 focus:border-green-500 focus:shadow focus:outline-none;

      &[type="submit"] {
        @apply mt-3 w-fit bg-green-900 px-2 py-1 uppercase text-white hover:bg-green-600 active:bg-green-800;
      }
    }
  }

  .customScrollBar {
    &::-webkit-scrollbar {
      height: 3px;
    }
    &::-webkit-scrollbar-thumb {
      @apply bg-red-900;
    }
  }

  .navBtn {
    @apply top-1/2 h-8 w-8 -translate-y-1/2 cursor-pointer items-center justify-center rounded-full bg-red-300 p-1 hover:bg-red-800 active:bg-red-700;

    &.blue {
      @apply bg-blue-200 p-1 hover:bg-blue-900 active:bg-blue-700;
    }
  }

  .blog {
    @apply h-full w-full overflow-y-scroll bg-blue-100 px-10 py-5 text-slate-800;

    &::-webkit-scrollbar {
      width: 3px;
    }

    h2 {
      @apply m-2 text-lg font-bold uppercase text-blue-950 underline sm:text-xl;
    }

    h3 {
      @apply ml-4 uppercase text-blue-900;
    }
  }

  .seperator {
    a:not(:last-child) {
      @apply relative;
      &::after {
        content: "";
        @apply absolute right-0 top-1/2 block h-5/6 w-[2px] -translate-y-1/2 bg-blue-950 sm:bottom-0 sm:left-1/2 sm:top-full sm:h-[2px] sm:w-5/6 sm:-translate-x-1/2 sm:translate-y-0;
      }
    }
  }
}
